* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e7e4dc;
  color: #000;
}

section {
  border-bottom: 1px solid black;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 80px 40px;
}

h1 {
  font-size: 90px;
  font-weight: 900;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}