@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

html, body, #root {
  background: var(--bg-color);
}

:root {
  --bg-color: #e7e4dc;
  --text-color: #000000;
  --accent-color: #111111;

  --button-bg: transparent;
  --button-text: #000000;
  --button-border: #000000;
}

/* тёмная тема */
[data-theme="dark"] {
  --bg-color: #0F172A;
  --text-color: #ffffff;
  --accent-color: #bbbbbb;

   --button-bg: #ffffff;
  --button-text: #000000;
  --button-border: #ffffff;
}


body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

section {
  border-bottom: 1px solid black;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 80px 40px;
}

h1 {
  font-size: 90px;
  font-weight: 900;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}